:root {
  --text-color: #fff;
  --track-color: #343a3e;
  --comp-color: #495057;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height:100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  color: var(--text-color);
}

a:hover {
  color: var(--text-color);
}

.bg-dark {
    background-color: #343a40;
}

.Container {
  background-color: #FF7E30;
  min-height: 100vh;
  color: var(--text-color);
  display: flex;
  min-width: 100vw;
  justify-content: space-between;
  align-items: center;
  text-transform: initial;
}

.Content {
  text-align: center;
  position: relative;
}